* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: x-large;
    color: #000000;
    color: #000000;
}
h2 {
    font-size: 20px;
    color: #000000;
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    /* background: linear-gradient(135deg, #a5b1c2 0%, #d1d8e0); */
}
header {
    width: 100%;
    height: 300px;
    text-align: center;
}

html {
    color-scheme: light dark;
}
/* Para el encabezado */
.contenedor {
    color: #2575fc, #f70808;
    width: 85%;
}
.pricing-table {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 60px;
    max-width: 1200px;
    width: 100%;
}
/* Para la carta */
.pricing-card {
    /* background: linear-gradient(135deg, #0f2027 0%, #203a43 50%, #2c5364 100%); */
    /* Para la carta */
    background: rgb(226, 210, 210);
    padding: 60px;
    border-radius: 50px;
    /* para la sombra */
    box-shadow: 15px 15px 40px rgb(45, 81, 243),-1px -1px 20px rgba(245, 59, 59, 0.829);
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
}

.pricing-card:hover{
    transform: translateY(-10px);
}
/* Para la raya de arriba */
.pricing-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(45deg, #f70808, #2575fc);
}
.pricing-header {
    text-align: center;
    margin-bottom: 30px;
}
/* para acomodar el título */
.plan-name { 
    border-radius: 25px;
    padding: 15px;
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 600;
    background: linear-gradient(45deg, #f70808, #2575fc);
}
/* Para el encabezado */
.encabezado {
    background: #ffffff;
    color: black;
    top: 0;
}
.price {
    font-size: 48px;
    font-weight: 700;
    color: #2575fc;
    margin-bottom: 15px;
}
.price span {
    font-size: 24px;
    color: #ccc;
}
.features {
    list-style: none;
    margin-bottom: 40px;
}
li{
    padding: 12px 0;
    color: #666;
    color: #ccc;
    border-bottom: 1px solid #666;
    text-align: center;
}
.features li:last-child {
    border-bottom: none;
}
/* Para botón mágico */
.cta-button {
    display: block;
    width: 100%;
    padding: 15px;
    background: linear-gradient(45deg, #f70808, #2575fc);
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-weight: 600;
    font-size: 25px;
    transition: transform 0.3s ease;
}

.cta-button:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .pricing-table {
        grid-template-columns: 1fr;
    }}